body {
    background-color: #f5d7b3; /* Бежевый */
}

.main-container {
    border: 5px solid #a52a2a; /* Коричнево-красная рамка */
    padding: 20px;
    min-height: 90vh;
}

.recipe-card {
    background-color: white;
    border-radius: 5px;
}

.filter-panel label {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
}

/* Кнопки в стиле твоего макета */
.btn-outline-secondary {
    background-color: #d3d3d3;
    color: black;
    border: 1px solid #000;
}
